<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoghJ00tTqMJdIIw5P6DcyeVq_Ry18fc4</string>
	<key>GCM_SENDER_ID</key>
	<string>826459161507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wahyutrip.sekar</string>
	<key>PROJECT_ID</key>
	<string>sekar-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sekar-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826459161507:ios:32796e33ebb9e972d11016</string>
</dict>
</plist>