<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SEKAR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sekar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sekar</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SEKAR menggunakan lokasi Anda untuk verifikasi kehadiran dan pemantauan area kerja selama shift.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>SEKAR memerlukan akses lokasi setiap saat untuk melacak posisi Anda selama shift kerja dan memberikan notifikasi otomatis.</string>
	<key>NSCameraUsageDescription</key>
	<string>SEKAR menggunakan kamera untuk verifikasi kehadiran (foto selfie saat clock-in/out) dan dokumentasi laporan pekerjaan.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SEKAR memerlukan akses galeri untuk melampirkan foto pada laporan pekerjaan dan permohonan perantingan.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SEKAR dapat menyimpan foto dokumentasi pekerjaan ke galeri Anda.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SEKAR menggunakan Face ID untuk masuk dengan cepat dan aman tanpa mengetik kata sandi.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
</dict>
</plist>
